[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-praetorian = "*"
flask-cors = "*"
mysql-connector-python = "*"
bcrypt = "*"
flask-mail = "*"
boto3 = "*"
flask-restx = "*"
pillow = "*"
python-dotenv = "*"
flask-migrate = "*"
gunicorn = "*"
requests = "*"
python-slugify = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[requires]
python_version = "3.8"
